@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(34, 33, 33);
}

#main {
  
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buttons{
  position: relative;
  display: flex;
  align-items: center;
}
.container{
 background-color: rgb(70, 70, 237);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  height: 350px;
  width: 650px;
  border-radius: 40px;
}

ul li{
  list-style: none;

}
li{
  display: flex;
  margin: 10px;
}
#Previous{
  display: none;

}
#next{
  display: none;
}
.qs{

  color: aliceblue;
  display: none;
}
button{
  border-radius: 10px;
  height: 60px;
  width: 120px;
  margin: 10px;
  font-size: 18px;
}
h1,h2{
  color: aliceblue;
}
.answer{
  display: flex;
  flex-direction: row;
  
}
.hide{
  display: none;
}

h2{
  margin-left:  30px;
}